# Ignore everything
*

# Except git repository files
!LICENSE
!README.md

# Except modding files
!RESOURCE\INI\TEXTS\FRENCH\globals.txt
!RESOURCE\INI\TEXTS\FRENCH\common.ini
!RESOURCE\INI\TEXTS\FRENCH\QUESTBOOK\quests_texts.txt
